doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='preconnect', href='https://fonts.gstatic.com')
    link(rel='stylesheet', href='css/main.min.css')
  body
    header.header
      .container
        .header__head 
          .name DREAMSHARE 
          .nav 
            |
            a(href='#') Log in 
            |
            |
            a.border(href='#') Sign up
        .title 
          h1 
            | SHARE YOUR 
            br
            | HOLIDAY DREAM
        h3 And find the perfect partner to fullfill it 
        button.btn__bg Find your holiday partner
    section.how 
      .container 
        p.title-bold How Dreamshare works?
        .cards 
          .card-1.card  
            .step STEP 1
            .title Sed leo enim, condimentum
            .subtitle   
              | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec 
              | rhoncus a leo sit amet facilisis.
          .card-2.card 
            .step STEP 2
            .title Morbi velit risus 
            .subtitle 
              | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet 
              | porttitor est.
          .card-3.card 
            .step STEP 3
            .title Sed leo enim, condimentum 
            .subtitle 
              | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec 
              | rhoncus a leo sit amet facilisis.
    section.meet 
      .container 
        p.title-bold Meet a partner for your best holiday 
        .partners 
          .partner 
            img(src='./images/Avatar.png', alt='#')
            .name Bradley Hunter 
            .descr 
              | Based in Chicago. I love playing 
              br
              | tennis and loud music.
          .partner 
            img(src='./images/Avatar2.png', alt='#')
            .name Marie Bennett 
            .descr 
              | Currently living in Colorado. Love of 
              br
              | art, languages and travelling.
          .partner
            img(src='./images/Avatar3.png', alt='#')
            .name Diana Wells
            .descr 
              | Living in Athens, Greece. I love black 
              br
              | and white classics, chillout music 
              br
              | and green tea.
          .partner 
            img(src='./images/Avatar4.png', alt='#') 
            .name Christopher Pierce 
            .descr 
              | Star Wars fanatic. I have a
              br 
              | persistent enthusiasm to create 
              br
              | new things.
        button.border See other partners 
    section.discover
      .container
        p.title-bold Discover holiday activity ideas
        .holiday__wrapper
            .holiday__card
              img(src='./images/hol1.png', alt='1')
              p Sports and Activis
            .holiday__card
              img(src='./images/hol2.png', alt='2')
              p Wellness and Health
            .holiday__card
              img(src='./images/hol3.png', alt='3')
              p
                | Extreme Sports
                | and Expeditions
            .holiday__card
              img(src='./images/hol4.png', alt='4')
              p Games
            .holiday__card.long1
              img(src='./images/hol5.png', alt='5')
              p Culture and Education
            .holiday__card.long2
              img(src='./images/hol6.png', alt='6')
              p Enjomet and Relaxation
            .holiday__card
              img(src='./images/hol7.png', alt='7')
              p Trevelling
    .activity 
      .container 
        p.title-bold Crate your holiday activity 
        p.subtitle-thin Hi! What are your holiday interests?
        .search 
          input(
            type="text"
            placeholder="Enter your interests"
          ) 
          button.btn-footer Search partners
    footer.footer
      .wrapper
        div DREAMSHARE
        .company
          p Company
          div
            a(href='#') About
            |
            |
            a(href='#') Contact
            |
            |
            a(href='#') Press
            |
            |
            a(href='#') Blog
          .long
              a(href='#') Terms and Privacy
              |
              |
              a(href='#') Help
        div
          p Partners
        .logo
          span DESIGNED BY
          img(src='./images/Bitmap.png', alt='asd')
        script(src='./scripts/main.min.js')